{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col text-center">
            <h1>J'enregistre ma demande</h1>
            <p class="subtitle">Merci de remplir le formulaire ci-dessous afin de recevoir 2€ pour l’achat d’une boîte de Prostamol</p>

            {% include 'participation/_participation_form.html.twig' %}
        </div>
    </div>
{% endblock %}
