{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col text-center">
            <h1>Contact</h1>
            <div>
                <p class="text-center">
                    Merci, votre demande de contact a bien été prise en compte et sera traitée dans les plus brefs délais.
                </p>
            </div>
        </div>
    </div>
{% endblock %}