{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col modalites-wrapper">
            <h1 class="text-center">Modalités</h1>
            <h2 class="text-center">2€ remboursÉs pour l’achat d’une boîte de Prostamol</h2>
            <p class="subtitle text-center">du 1<sup>er</sup> février 2018 au 31 juillet 2018</p>

            <div class="modalites-txt-wrapper">
                <p>Pour bénéficier de cette offre :</p>
                <ul>
                    <li>Complétez le formulaire disponible sur le site <a href="http://www.offre-prostamol.fr" target="_blank">www.offre-prostamol.fr</a> et renseignez le code barre produit figurant sur l’emballage produit éligible*</li>
                    <li>Téléchargez la photo ou le scan de votre ticket de caisse entier.</li>
                    <li>Validez votre participation.</li>
                </ul>

                <p>
                    Vous recevrez votre remboursement de 2€ par virement bancaire sous 4 à 6 semaines à réception de votre demande conforme. Un e-mail de confirmation vous sera envoyé.
                    <br/>
                    Offre valable sur le complément alimentaire PROSTAMOL* en France Métropolitaine, Corse comprise et Principauté de Monaco dans la limite des 6018 premières demandes.
                    <br/><br/>
                    Toute demande illisible ou justificatif, raturé ou incomplet sera considéré comme nulle et ne pourra être pris en compte. Justificatifs à soumettre avant le 31/08/2018 pour tout achat d’un produit de la gamme PROSTAMOL effectué du 01/02/2018 au 31/07/2018.
                    <br/><br/>
                    Les informations recueillies font l’objet d’un traitement informatique destiné à la société NHS et à son prestataire SOGEC pour répondre à votre demande de remboursement et à l’enrichissement du fichier client sous réserve de l’accord du client. Conformément à la loi 78-17 modifiée par la loi 2004-801, vous pouvez exercer à tout moment votre droit d’accès et de rectification des données vous concernant auprès de NHS 1/7, rue Jura- BP 40528- 94633 Rungis Cedex. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
                    <br/><br/>
                    <sup>*</sup>Offre valable du 01/02/2017 au 31/07/2018 pour tout achat d’une boite de Prostamol (ACL : 3401560315189) en pharmacie. Remboursement de 2€ différé par la SOGEC. Remboursement non valable en pharmacie. Offre limitée à 1 seul remboursement de 2€ par foyer (même nom, même adresse et/ou même email et/ou même IBAN) dans la limite des 6018 premières demandes.
                    <br/><br/>
                    <span>PRODUIT PROSTAMOL ÉLIGIBLE : PROSTAMOL 30 CAPSULES MOLLES ACL : <strong>3401560315189</strong></span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}