{% extends 'layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col text-center">
        <h1>Oops! Page non trouvée</h1>
        <hr class="grey-separator"/>

        <div class="btn-wrapper">
            <p>Impossible de trouver la page que vous essayez d'atteindre.</p>
            <a class="btn btn-primary" href="{{ path("cms_homepage") }}" title="Revenir à la page d'accueil">Revenir à la page d'accueil</a>
        </div>
    </div>
</div>
{% endblock %}